<!-- navbar.component.html -->
<mat-toolbar color="primary" class="fixed-toolbar">
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <span class="spacer"></span>
  <span class="spacer"></span>

  <span>Application de gestion de rendus</span>
  <form (submit)="login()" *ngIf="!authService.loggedIn" class="form">
    <label>Identifiant:
      <input type="text" [(ngModel)]="identifiant" name="identifiant">
    </label>
    <label style="margin-left: 5px;">Mot de passe:
      <input type="password" [(ngModel)]="motdepasse" name="motdepasse">
    </label>
    <button type="submit" style="margin-left: 5px;">Connexion</button>
  </form>
  <p *ngIf="authService.loggedIn" class="text">Connecté en tant que {{authService.userName}} ({{authService.userRole}})</p>
  <button (click)="logout()" *ngIf="authService.loggedIn" class="button2">Déconnexion</button>
</mat-toolbar>

<!--<div class="container">-->
<!--  <button mat-button class="button" routerLink="/home">Home</button>-->
<!--  <form (submit)="login()" *ngIf="!authService.loggedIn" class="form">-->
<!--    <label>Identifiant:-->
<!--      <input type="text" [(ngModel)]="identifiant" name="identifiant">-->
<!--    </label>-->
<!--    <label style="margin-left: 5px;">Mot de passe:-->
<!--      <input type="password" [(ngModel)]="motdepasse" name="motdepasse">-->
<!--    </label>-->
<!--    <button type="submit" style="margin-left: 5px;">Connexion</button>-->
<!--  </form>-->
<!--  <p *ngIf="authService.loggedIn" class="text">Connecté en tant que {{authService.userName}} ({{authService.userRole}})</p>-->
<!--  <button (click)="logout()" *ngIf="authService.loggedIn" class="button2">Déconnexion</button>-->
<!--</div>-->
<!--<div class="container2">-->
<!--  <h1>-->
<!--    <p>{{title}}</p>-->
<!--  </h1>-->
<!--</div>-->
<mat-drawer-container>
  <mat-drawer position="start" #drawer mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/liste-devoirs">Liste des devoirs</a>
      <a mat-list-item routerLink="/add">Ajout d'un devoir</a>
      <a mat-list-item routerLink="/edit">Modification d'un devoir</a>
      <a mat-list-item routerLink="/suppression-devoir">Suppression d'un devoir</a>
      <a mat-list-item (click)="peuplerDB()">Génération de données de test</a>
    </mat-nav-list>
  </mat-drawer>
  <div class="main-content">
<router-outlet>

</router-outlet>
  </div>
</mat-drawer-container>
