<div class="container">
  <button mat-button class="button" routerLink="/home">Home</button>
  <form (submit)="login()" *ngIf="!authService.loggedIn" class="form">
    <label>Identifiant:
      <input type="text" [(ngModel)]="identifiant" name="identifiant">
    </label>
    <label style="margin-left: 5px;">Mot de passe:
      <input type="password" [(ngModel)]="motdepasse" name="motdepasse">
    </label>
    <button type="submit" style="margin-left: 5px;">Connexion</button>
  </form>
  <p *ngIf="authService.loggedIn" class="text">Connecté en tant que {{authService.userName}} ({{authService.userRole}})</p>
  <button (click)="logout()" *ngIf="authService.loggedIn" class="button2">Déconnexion</button>
</div>
<h1>
  <nav>
    <a routerLink="/home">{{title}}</a>
  </nav>
</h1>
<router-outlet>
  
</router-outlet>