
<div class="container">
  <mat-card>
    <mat-card-header>
      <p>Nouveau Assignement</p>
    </mat-card-header>
    <hr>
<form class="container2" ngForm (submit)="onSubmit(); assignmentForm.reset()" #assignmentForm>
  <mat-form-field>
    <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Matière du rendu</mat-label>
    <mat-select  [(ngModel)]="matiere">
      <mat-option *ngFor="let matiere of matiereRendu"  (selectionChange)="changeProf($event)" [value]="matiere" >
        {{matiere}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  class="example-full-width">
    <mat-label>Professeur</mat-label>
    <input disabled="true" matInput placeholder="M. Buffa" [(ngModel)]="prof" value="{{prof}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker" placeholder="Date de rendu" [(ngModel)]="dateDeRendu" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-stroked-button>
    Ajouter un devoir
  </button>
</form>
</mat-card>
</div>