.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 80%;
  margin: 20px;
}

mat-card-header {
  background-color:green;
  color: white;
}

mat-form-field {
  width: 100%;
  margin: 10px;
}

input {
  width: 100%;
}

hr {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color:green;
  color: white;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

