.container {
  display:flex;
  flex-direction: column;
}
.container2 {
  align-self:center;
  margin-top: 30px;
  margin-bottom: 20px;
}

@keyframes blur-animation {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

.button {
  background-color: green;
  color: white;
  font-size: 17px;
  animation: blur-animation 2s ease-in-out;
}

.demo-table {
  width: 100%;
}
.mat-row:hover {
  cursor: pointer;
  background-blend-mode: hard-light;

}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
