<main class="container">

<!--  <div class="container2">-->
<!--    <a routerLink="/add">-->
<!--      <button mat-flat-button class="button">-->
<!--        Ajouter un Assignment-->
<!--      </button>-->
<!--    </a>-->
<!--  </div>-->

<div class="container3">
  <h1>Liste des Assignments :</h1>
<mat-form-field style="margin-left: 15px;">
  <input matInput #searchInput placeholder="Rechercher par nom">
</mat-form-field>
<button mat-button (click)="search(searchInput.value)" matSuffix mat-icon-button aria-label="Clear">
  <mat-icon>search</mat-icon>
</button>
</div>

<table mat-table [dataSource]="assignments"  matSort class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="rendu">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Rendu </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'rendu-vert': element.rendu, 'rendu-rouge': !element.rendu}"> {{element.rendu}} </td>
  </ng-container>
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Nom</th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>
  <ng-container matColumnDef="dateRendu">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date de rendu </th>
    <td mat-cell *matCellDef="let element"> {{element.dateDeRendu | date}} </td>
  </ng-container>
  <ng-container matColumnDef="matiere">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Matière </th>
    <td mat-cell *matCellDef="let element"> {{element.matiere}} </td>
  </ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

<tr (click)="onAssignmentClicke(row)"  mat-row *matRowDef="let row; columns: displayedColumns;">
</tr>
</table>

<mat-paginator (page)="onPageChanged($event)" [length]="totalDocs"
            [pageSize]="limit"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
</mat-paginator>


</main>
