.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% de la hauteur de la vue */
  margin: 0;
}

mat-form-field {
  width: 100%;
  max-width: 400px; /* Ajustez la largeur maximale selon vos besoins */
  margin-bottom: 15px;
}

button {
  margin-top: 15px;
}
