<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-header>
      <div class="header-content">

        <div>
          <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
          <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="details">
        <div class="detail">
          <label>Matière:</label>
          <select [(ngModel)]="assignmentTransmis.matiere">
<!--            <option *ngFor="let matiere of matieres" [value]="matiere">{{matiere}}</option>-->
          </select>
        </div>
        <div class="detail"><span>Professeur: {{assignmentTransmis.prof}}</span></div>
        <div class="prof-photo">
          <!--          <img [src]="assignmentTransmis.photoProf" alt="Photo du Professeur">-->
        </div>
        <div class="detail"><span>Auteur: {{assignmentTransmis.auteur}}</span></div>
        <div class="detail"><span>Note: {{assignmentTransmis.note}}/20</span></div>
        <div class="detail"><span>Remarque: {{assignmentTransmis.remarque}}</span></div>
      </div>
    </mat-card-content>
    <mat-checkbox *ngIf="!assignmentTransmis.rendu && !isUser" (click)="onAssignmentRendu()">
      Devoir Rendu
    </mat-checkbox>
    <div class="card-actions">
      <button mat-stroked-button color="primary" [routerLink]="'/assignment/' + assignmentTransmis.id + '/edit'" [disabled]="!isUser()">
        MODIFIER
      </button>
      <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAdmin()">
        SUPPRIMER
      </button>
    </div>
  </mat-card>
</div>

