<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-header>
      <p>Assignement n° {{assignmentTransmis.id}}</p>
    </mat-card-header> 
    <hr>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
    <hr>
    <mat-card-content>
      <p>Matière : {{assignmentTransmis.matiere}}</p>
      <p>Professeur :  {{assignmentTransmis.prof}}</p>
      <p>Auteur : {{assignmentTransmis.auteur}}</p>
      <p>Note : {{assignmentTransmis.note}}/20</p>
      <p>Remarque : {{assignmentTransmis.remarque}}</p>
    </mat-card-content>
    <mat-checkbox *ngIf="!assignmentTransmis.rendu&&!isUser" (click)="onAssignmentRendu()">
      Devoir rendu
    </mat-checkbox>

    <div class="bottom">
      <nav><a routerLink="/assignment/{{assignmentTransmis.id}}/edit">
        <button mat-stroked-button
                color="primary"
                type="submit"
                [disabled]="!isUser()"
        >
        EDIT
      </button>
       </a></nav>
      <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAdmin()">
        DELETE
      </button>
    </div>
  </mat-card>
</div>
