.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;


}

mat-card {
  width: 60%;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

mat-card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

mat-card-header {


  color: #ccdeff;
  border-top-left-radius: 15px; /* Arrondir les bords en haut de la carte */
  border-top-right-radius: 15px;
}
.titreCard{
  font-size: 40px;

}
.subtitreCard{
  margin: 10px;
}
.header-content {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 900;

  color: rgb(16, 137, 211);
}

/*.prof-photo img {*/
/*  width: 60px;*/
/*  height: 60px;*/
/*  border-radius: 50%;*/
/*  margin-right: 15px;*/
/*  border: 3px solid white;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);*/
/*}*/

mat-card-title {
  font-size: 100px;
  color: #0056b3;
  margin-top: 5px;
}


mat-card-subtitle {
  font-size: 18px;
  color: #1565c0; /* Nuance de bleu plus foncée */
}



mat-card-content {
  font-size: 16px;
}

  .details {
    flex-direction: row;
    align-content: stretch;
    display: flex;

    gap: 10px;
  }

.detail {
  margin-bottom: 10px; /* Espacement entre les détails */
  display: inline-block; /* Pour permettre l'application de la marge */
}

.detail span {
  background-color: #0d47a1; /* Bleu foncé pour le fond */
  color: white; /* Texte en blanc */
  padding: 5px 10px; /* Espacement autour du texte */
  border-radius: 5px; /* Bords légèrement arrondis */
  font-size: 1.1em; /* Taille de police légèrement augmentée */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour l'effet de survol */
}

.detail span:hover {
  background-color: #1565c0; /* Changement de couleur au survol */
  transform: scale(1.05); /* Effet de zoom léger au survol */
}

.detail label {
  font-weight: bold;
  margin-right: 5px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

select:hover {
  border-color: #1976d2;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button {
  margin-left: 10px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3; /* Bleu au survol */
  color: white;
}

mat-checkbox {
  margin: 20px 0;
}
.cardContent{
  flex-direction: row;
  align-content: stretch;
}
